@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Water+Brush&display=swap');

body{
    background-color: rgba(83, 83, 86, 0.575);
}
#text{
    font-size: 48px;
    color: rgb(0, 0, 0);
}
#quote{
    border-bottom: 2px solid red;
    font-size: 48px;
    text-align: center;
    padding-bottom: 50px;
}
#quote:hover{
    border-bottom: 3px dotted rgb(51, 141, 108);
    font-size: 48px;
    text-align: center;
    padding-bottom: 50px;
    color: aqua;
}
#button{
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    margin-top: 50px;
    border: none;
    padding: 5px 7px;
    width: 100%;
    background-color: transparent;
}
#button:hover{
    border-radius: 12px;
    transition: 0.9s;
    background-color: rgb(89, 60, 60);
}